<div class="container">
    <label for="tarea">Nombre</label>
    <input type="text" id="tarea" name="tarea" [(ngModel)]="tareaActual.nombre">
    <br>
    <label for="autor">Autor</label>
    <input type="text" name="autor" id="autor" [(ngModel)]="tareaActual.autor">
    <br>
    <label for="descripcion">Descripcion</label>
    <input type="text" name="descripcion" id="descripcion" [(ngModel)]="tareaActual.descripcion">
    <br>
    <label for="ejemplares">Ejemplares</label>
    <input type="text" name="ejemplares" id="ejemplares" [(ngModel)]="tareaActual.ejemplares">
    <br>
    <label for="costo">Costo</label>
    <input type="text" name="costo" id="costo" [(ngModel)]="tareaActual.costo">
    <button class="btn btn-primary" (click)="guardad()">guardar</button>
</div>
